


@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');

html {
  Font-size: 62.5%;
  scroll-behavior: smooth;
}


/* General styles */

body {
    font-family: 'Libre Baskerville', serif;
}

h1 {
    font-size: 3rem;
    letter-spacing: 1px;
    font-weight: 400;
}

h2 {
    font-size: 2.6rem;
    letter-spacing: 1px;
}

h3 {
    font-size: 1.8rem;
    letter-spacing: 1px;
}

p {
    font-size: 1.4rem;
}
.container-fluid {
    padding: 0;
}

.section-title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
    padding-bottom: 1.2rem;
}

.inline {
    display: inline;
}

.center {
    text-align: center;
}

.white-line {
    border-top: 2px solid #FFFFFF;
    width: 3%;
    padding: 1.2rem 0;
    display: inline-block;
}

.mauve-line {
    border-top: 2px solid #a98a90;
    width: 5%;
    padding: 1.2rem 0;
    text-align: left;
    display: inline-block;
}

.extra-padding {
    padding-bottom: 1.3rem;
}

.white {
    color: white;
    padding-bottom: 1.3rem;
}

.row {
    margin: 0;
}


.flex-container {
    display: flex;
    justify-content: flex-start;
}

/* End General styles */



/* Header */

#nav {
    background-color: transparent;
    position: absolute;
    border-bottom: 0.5px solid #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
}

#nav a {
    color: #FFFFFF;
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
}

.navbar-toggler {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.sticky {
	position: sticky !important;
	top: 0;
	background-color: rgba(84, 89, 95, 0.7) !important;
    z-index: 99999999999;
}



/* End Header */

/* Hero section */

#hero-image {
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/city-arms-front.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  letter-spacing: 1px;
  font-weight: 700;
}


.home-cta {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 1.3rem;
    margin-top: 1.5rem;
    letter-spacing: 1px;
}

.main-heading {
    padding: 1.5rem;
    font-size: 4.3rem;
}

.sub-heading {
    padding-bottom: 1.5rem;
}

.white-line-main {
    border-top: 2px solid #FFFFFF;
    width: 5%;
    padding: 1.2rem 0;
    display: inline-block;
}

/* End Hero section */

/* Icon dark  section */


#icons-dark {
    max-height: 90vh;
    background-color: #a98a90;
    text-align: center;
    padding: 5.5rem;
}

.icon-light {
    padding-top: 2rem;
    color: #FFFFFF;
}

.circle-border-light {
    border: 1px solid #FFFFFF;
    width: 6.3rem;
    height: 6.3rem;
    border-radius: 50%;
}


.icon-text-white {
   padding-top: 1.5rem;
   color: #FFFFFF; 
}


/*  End Icon section */

/* Icon light section */


#icons-light {
    max-height: 90vh;
    background-color: #FFFFFF;
    text-align: center;
    padding: 5.5rem;
}

.icon-dark {
    padding-top: 2rem;
    color: #a98a90;
}

.circle-border-dark {
    border: 1px solid #a98a90;
    width: 6.3rem;
    height: 6.3rem;
    border-radius: 50%;
}

.icon-text-dark {
   padding-top: 1.5rem;
   color: #a98a90; 
}

/* End Icon section */

/* History section */

#history {
    min-height: 50vh;
    max-height: 120vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/historic-city-arms.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 7rem 3rem;
    text-align: center;
    display: flex;
    align-content: center;
}

.history-text {
  text-align: center;
  color: #FFFFFF;
  font-size: 1.6rem;
  line-height: 2.7rem;
}

.restrict-width {
    padding: 0 20%;
    
}


/* End History section */


/* Gallery Section */


.flex-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: space-around;
    
}

.flex-col {
    flex: 25%;
    max-width: 25%;
    padding: 2px 4px;
    
}

.flex-col img {
    margin-top: 0.8rem;
    vertical-align: middle;
    width: 100%;
}


/* End Gallery Section */



/* Form section */


form {
    width: 100%;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 80vh;
    padding: 5rem;
    text-align:center;
    margin-top: 3px;
    border-top: 1px solid #a98a90;
    border-bottom: 1px solid #a98a90;
}

label {
    display: inline-block;
    width: 10%;
    font-size: 1.4rem;
    padding-right: 1rem;
}

input {
    width: 45%;
    padding: 5px;
    margin: 9px;
    opacity: 0.8;
    border-radius: 2%;
    border: 0.5px solid #54595F;
}

.message {
    padding: 2rem;
}

.form-title {
    padding: 1rem;
}

/* End Form section */

/* Footer */

footer {
    padding: 3rem 0.5rem;
    max-height: 90vh;
    background-color: #a98a90;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}


.footer-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-bottom: 8px;

}

.footer-text {
    font-size: 1.4rem;
    color: #FFFFFF;
}

.footer-icon {
    padding: 5px;
    color: #FFFFFF;
}

.icon-text {
    align-content: flex-start;
}

.fb-icon {
    color: #FFFFFF;
}

.fb-text:hover, .fb-icon:hover{
  color: #54595F;
}

/* End Footer */

/***Accommodation Page ***/

/* Banner section */

#accommodation {
    height: 85vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/double-room.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-text-2 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  letter-spacing: 1px;
  font-weight: 700;
}

/* End banner section */

/* Information section */

.top-image {
    width: 40%;
}

#info {
    padding: 5rem;
}

.info-text {
    padding: 1rem 4rem;
}

/* End Information Section */

/* Media Queries*/ 

@media only screen and (max-width: 768px) {
    .section-title {
    font-size: 1.5rem;
    }

    .main-heading {
        font-size: 2.5rem;
    }

    .sub-heading {
        font-size: 2rem;
    }

    .history-text {
        font-size: 1.4rem;
    }
    .icon-text-dark {
        padding-bottom: 1.8rem;
    }

    #icons-dark {
        display: none;
    }

    .restrict-width {
        padding: 0 8%;
    }

    .mobile-hide {
        display: none;
    }

    label {
        width: 28%;
        font-size: 1.1rem;
        padding: 2px;
    }

    form {
        padding: 3rem 1rem;
    }

    .footer-title {
        display: none;
    }

    footer {
        text-align: center;
        justify-content: center;
    }

    footer div {
        flex-wrap: wrap;
        width: 100%;
    }

    .phone, .address {
        display: none;
    }

    .flex-col {
    flex: 50%;
    max-width: 50%;
  }

@media only screen and (max-width: 600px) {
    .flex-col {
    flex: 100%;
    max-width: 100%;
  }

  .history-text {
        font-size: 1.2rem;
    }
}
