
/*------General styles */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

body {
    font-family: 'Libre Baskerville', serif;
}

h1 {

}

/*------End General styles */



/*-----Header */


/*-----End Header */

/*---- Hero section */
#hero-image {
    height: 90vh;
    background-image: url("https://e65dc26c-e289-4bad-9593-038778861180.ws-eu01.gitpod.io/files/download/?id=77a8579d-e6c7-491c-ae40-da3f197b5934");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0.5;
}


/*---- End Hero section */

